// bootstrap
@use "~bootstrap/scss/bootstrap" as *;

header {
    height: 100px;
    position: sticky;
    background-color: beige;
    top: 0;
    left: 0;
    right: 0;
}

.manga-cover {
    max-width: 246px;
    max-height: 386px;
}
